<h1>Sobre Nós</h1>

<p>
	Partindo da existência de um produto secular, o Sabonete Arêgos, que caiu em desuso e no esquecimento, em meados do século XX, pretende-se, com o presente projeto, recuperar a fórmula tradicional, nos arquivos da maior empresa nacional de perfumaria e sabonetaria Ach Brito, através de um moderno conceito de design, produção, rotulagem e distribuição de um sabonete termal, feito à base das águas termais milagrosas das Caldas de Aregos.
</p>
<p>
	A criação de 30 expositores com um design de assinatura, representando os antigos barcos rabelos a transportar as pipas com famosos vinho do Porto, agora substituidas pelos sabonetes de água termal de Caldas de Aregos,que serão disponibilizados pelos parceiros (autarquias, postos de turismo,farmácias, hotéis, casas de turismo de habitação,etc) como forma de venda, divulgação e promoção de um produto da região.
</p>
<p>
	Outro aspeto inovador no projeto é a publicação de um livro em banda desenhada que retrata de uma forma leve e atrativa, não só as imagens históricas que fazem parte da riqueza iconográfica da nossa região, nas suas variadas épocas históricas, mas também um conjunto de relatos históricos que perpetuem as histórias e vivências das nossas gentes.
</p>
<p>
	Relatos de um passado de trabalho e de conquistas que importa servirem de testemunhos na actualidade provas de tenacidade que importa imortalizar para que não se percam ou adulterem na tradição oral.
</p>