<div class="left_content_wrapper">						
	<h1>Sabonete Aregos</h1>											
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at enim metus. Nam nibh neque, ornare id mollis nec, rutrum sed diam.
	</p>
	<p>
		Etiam sed pulvinar massa. Nunc sed justo tortor. Mauris ullamcorper, elit eu mattis tempus, purus sapien lobortis risus, a bibendum velit purus eget lorem.
	</p>
	<p>
		Donec ut mi leo. Phasellus vulputate massa a elit ullamcorper, vel ornare dolor rhoncus. Pellentesque et auctor metus.
	</p>
	<div class="actions_wrapper">
		<a href="#" class="action_button">Comprar</a>
	</div>
</div>
<div class="right_content_wrapper">
	<h1>Arêgos em Banda Desenhada</h1>											
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at enim metus. Nam nibh neque, ornare id mollis nec, rutrum sed diam.
	</p>
	<p>
		Etiam sed pulvinar massa. Nunc sed justo tortor. Mauris ullamcorper, elit eu mattis tempus, purus sapien lobortis risus, a bibendum velit purus eget lorem.
	</p>
	<p>
		Donec ut mi leo. Phasellus vulputate massa a elit ullamcorper, vel ornare dolor rhoncus. Pellentesque et auctor metus.
	</p>
	<div class="actions_wrapper">
		<a href="#" class="action_button">Comprar</a>
	</div>
</div>
