<style>
.content_wrapper {
	padding-left: 0;
	padding-right: 0;
}
</style>


<div class="two_columns_content_wrapper">
	<h1>O Projeto</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at enim metus. Nam nibh neque, ornare id mollis nec, rutrum sed diam.
	</p>
	<p>
		Etiam sed pulvinar massa. Nunc sed justo tortor. Mauris ullamcorper, elit eu mattis tempus, purus sapien lobortis risus, a bibendum velit purus eget lorem.
	</p>
	<p>
		Donec ut mi leo. Phasellus vulputate massa a elit ullamcorper, vel ornare dolor rhoncus. Pellentesque et auctor metus.
	</p>
</div>

<div class="two_columns_content_wrapper">
	<h1>Cronologia</h1>
	<h2>1917</h2>
	<p>
		Lorem ipsum dolor sit amet. Nam nibh neque, ornare id mollis nec, rutrum sed diam.
	</p>
	<h2>1945</h2>
	<p>
		Etiam sed pulvinar massa. Nunc sed justo tortor. Phasellus vulputate massa a elit.
	</p>
	<h2>1978</h2>
	<p>
		Phasellus vulputate massa a elit ullamcorper. Pellentesque et auctor metus.
	</p>
</div>