<div class="centered_wrapper banner_wrapper">
	<div id="top_banner_showcase" class="showcase">
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/images/banner/banner_1.jpg" border="0" >
			</div>
		</div>		
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/images/banner/banner_2.jpg" border="0" >
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="/images/banner/banner_3.jpg" border="0" >
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function()
	{
		$("#top_banner_showcase").awShowcase(
		{
			content_width:			900,
			content_height:			300,
			fit_to_parent:			false,
			auto:					true,
			interval:				8000,
			continuous:				true,
			arrows:					false,
			buttons:				false,
			pauseonover: 			false,
			stoponclick: 			false,
			transition:				'fade', /* hslide/vslide/fade */
			transition_delay:		300,
			transition_speed:		1000,
			speed_change:			true
		});
	});
</script>