<table cellpadding="0" cellspacing="0" class="cart">
	<tr>
		<th>Produto</th>
		<th>Preço</th>
		<th>Quantidade</th>
	</tr>

	<% current_cart.cart_items.each do |item| %>
		<tr>
			<td><%= item.product.name %></td>
			<td><%= item.price %></td>
			<td><%= item.quantity %></td>
		</tr>
	<% end %>

	<tr>
		<td colspan="2">Total</td>		
		<td><%= current_cart.cart_items.sum("price * quantity") %></td>
	</tr>
</table>