<div class="header_wrapper">	
	<a href="/"><img src="/images/layout/logo.png" border="0"></a>	
	<div class="user_area">
		<ul class="user_menu">
			<li><a href="/signup">Registo</a></li>
			<li><a href="/signin">Login</a></li>
		</ul>
	</div>
</div>