<div class="main_menu_wrapper">
	<ul class="main_menu">
		<li><a href="/about_us">Sobre Nós</a></li>
		<li><a href="/products">Produtos</a></li>
		<li><a href="/caldas_de_aregos">Caldas de Arêgos</a></li>
		<li><a href="/general_interactions/new">Contacte-nos</a></li>
	</ul>
</div>