<% if !user_is_signed_in? %>
	
	<div>Para finalizar o processo de compra necessita de estar autenticado!<br/><br/></div>

	<div>Utilizador Registado? <%= link_to "Autentique-se!", signin_path %></div>
	<div>Novo Utilizador? <%= link_to "Registe-se!", signup_path %></div>	

<% end %>


<% content_for :sidebar do %>
	<%= render "shared/cart" unless current_cart.nil? %>
<% end %>