/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";


/* FONT FACE */
@font-face {
    font-family: 'Candara';
    src: url('/assets/Candara.eot');
    src: url('/assets/Candara.eot') format('embedded-opentype'),
         url('/assets/Candara.woff') format('woff'),
         url('/assets/Candara.ttf') format('truetype'),
         url('/assets/Candara.svg#CalibriRegular') format('svg');
}


/* RESET */
html, body, h1, h2, h3, ul, li, p, th {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
a, a:hover, a:visited {
	text-decoration: none;
	color: #777;
}
img {
	border: 0;
}

.clear_both {
	clear: both;
}


/* LAYOUT */
html, body {
	height: 100%;
}
body {
	text-align: center;				
	font-family: "Arial", "DejaVu Sans";
	font-size: 1em;
	color: #777;
	background-color: #E0DCC3;
}		
.site_wrapper {
	text-align: left;
}
.centered_wrapper {
	margin: auto;
	text-align: left;
	width: 900px;
	clear: both;	
}
.main_menu_wrapper {
	background-color: #f3f3f3;
	border-bottom-left-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
	border-bottom: 1px solid #f3f3f3;
	/* position: relative; por causa do marcador do menu activo */
	position: relative;
	border-top: 2px dotted #ddd;
}
.header_wrapper {
	background-color: #fff;
	height: 55px;
	padding-left: 28px;
}
.banner_background {
	background-color: #999;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	margin: 1em 0;
}
.banner_wrapper {				
	border-left: 1px dotted #777;
	border-right: 1px dotted #777;
	height: 300px;
	overflow: hidden;
}
.content_wrapper {
	background-color: #f3f3f3;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border: 0;
	padding: 28px 28px 56px 28px;
	font-size: 0.9em;
}
.two_columns_content_wrapper {
	display: inline-block;
	width: 391px;
	margin: 0 28px;
	vertical-align: top;
}
.three_columns_content_wrapper {
	display: inline-block;
	width: 260px;
	margin: 0 14px;
	vertical-align: top;
}

.aditional_info {
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}
.aditional_info h2{
	font-size: 1em;
	color: #666;
}
.aditional_info p {
	font-size: 0.9em;
}
.aditional_info a, .aditional_info a:hover, .aditional_info a:visited {
	color: #cc9933;
}


.user_area {
	float: right;
}
ul.user_menu {
	text-align: right;
	list-style: none;
	margin: 1em 0.3em 0 0;
}
ul.user_menu li {
	display: inline-block;	
	border-left: 1px dotted #ccc;
}
ul.user_menu li a, ul.user_menu li input[type="submit"] {
	display: inline-block;
	cursor: hand;
	cursor: pointer;
	font-family: "Candara", "Arial", "DejaVu Sans";
	font-size: 0.9em;
	color: #cc9933;
	background: none;
	border: 0;
	padding: 0 28px;
}
ul.user_menu li a, ul.user_menu li a:hover, ul.user_menu li a:visited {
	text-decoration: none;
	color: #cc9933;
}
ul.main_menu {
	clear: both;
	text-align: center;
	list-style: none;
}
ul.main_menu li {
	display: inline-block;
	line-height: 50px;	
	vertical-align: middle;	
	font-family: "Candara", "Arial", "DejaVu Sans";
	font-size: 1.1em;
	padding: 0 30px;
}
ul.main_menu li a, ul.main_menu li a:visited {
	text-decoration: none;
	color: #888;	
}
ul.main_menu li a:hover {
	text-decoration: none;
	color: #444;	
}
ul.main_menu li.current_menu a {	
	color: #444;
}
.current_main_menu_pointer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 12px;
	color: #444;
}

h1 {
	font-family: "Candara", "Georgia", "Cambria", "Baskerville Old Face", "Baskerville";
	font-size: 1.7em;
	margin-bottom: 1em;
	color: #444;
	border-bottom: 1px dotted #ddd;
}
h1 a, h1 a:hover, h1 a:visited {
	color: #444;
}
h2 {
	font-size: 1.1em;
	color: #cc9933;
}
p {		
	line-height: 1.5em;
	margin-bottom: 1em;
}



/* TABELAS */
.table {
	width: 100%;
	margin-bottom: 1em;
}
tr.table_row_header th {
	background-color: #ccc;
	padding: 0.5em;
	color: #fff;
}

tr.table_row_item td {
	padding: 0.5em;
	border-bottom: 1px dotted #ddd;
	font-size: 0.9em;
	min-height: 3em;
}
tr.table_row_item td.left_table_column {
	border-left: 1px dotted #ddd;
}
tr.table_row_item td.right_table_column {
	border-right: 1px dotted #ddd;
}
tr.table_row_footer td {
	background-color: #ddd;
	padding: 0.5em;
}
tr.table_row_header th.left_table_column {
	border-top-left-radius: 0.4em;
}
tr.table_row_header th.right_table_column {
	border-top-right-radius: 0.4em;
}
tr.table_row_footer td.left_table_column {
	border-bottom-left-radius: 0.4em;
}
tr.table_row_footer td.right_table_column {
	border-bottom-right-radius: 0.4em;
}


/* FORMULÁRIOS */
.form_field input[type="text"], .form_field input[type="password"], .form_field label {
	display: block;
}
.form_field input[type="text"], .form_field input[type="password"], .form_field select, .form_field textarea {
	background-color: #f7f7f7;
	border: 2px dotted #ddd;
 	border-radius: 0.4em;
 	margin-bottom: 1em;
 	width: 98%;
 	color: #777;
 	padding: 0.5em;
 	font-size: 0.9em;
 	font-family: "Arial", "DejaVu Sans";
}
.form_field select {
 	width: 100%;
}
.form_field textarea {
	height: 10em;
}


/* BOTÕES */
.actions_wrapper {
	text-align: right;
}
.action_button {
	display: inline-block;
}
.action_button a, .action_button a:hover, .action_button a:visited {
	text-decoration: none;				
	color: #fff;	
}
.action_button a, .action_button input[type="submit"] {
	cursor: hand;
	cursor: pointer;
	font-family: "Candara", "Arial", "DejaVu Sans";
	font-size: 1em;
	color: #fff;
	padding: 0.5em 0.5em 0.3em 0.5em;
	background-color: #cc9933;
	border-radius: 0.4em;
	margin-left: 0.5em;
	border: 0;
}


/* ERROS */
.errors_list {
	border-radius: 0.4em;
	background-color: #cc9933;
	padding: 1em 1em 1em 2em;
	margin-bottom: 1.5em;
	border: 1px dotted #ddd;
	font-size: 0.8em;
	color: #fff;
}
.errors_list ul li {
	margin-bottom: 0.3em;
}

/* ALERTAS */
.flash_notice_wrapper {
	position: fixed;
	bottom: 5px;
	right: 10px;
	width: 200px;	
}
.flash_notice {	
	border-radius: 0.6em;
	background-image: url('/images/layout/flash_notice_background.png');
	padding: 1em;
	font-size: 0.8em;
	color: #fff;
	text-align: left;	
}
.flash_notice_close_button {
	float: right;
	margin-left: 1em;
	cursor: hand;
	cursor: pointer;
}
.flash_notice_pointer {
	clear: both;
	background-image: url('/images/layout/flash_notice_pointer.png');
	background-repeat: no-repeat;
	height: 12px;
	width: 23px;
	margin-left: 23px;
}

/* PASSOS PARA O CHECKOUT DA ENCOMENDA */
.cart_checkout_steps {
	list-style: none;
	background-color: #e6dca7;
	border-radius: 0.4em;
	margin: 2.5em 0 1.5em 0;
}
.cart_checkout_steps .cart_checkout_step {
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	padding: 0 2em 0 1em;
	color: #fff;	
}
.cart_checkout_steps .current_step {
	background-color: #cc9933;
}