/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap";

 .formulario input,  .formulario label {
 	display: block;
 }
.formulario input[type="text"], .formulario input[type="password"] {
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	height: 20px;
 	margin-bottom: 10px;
 }
 .btn_submit_formulario {
 	background-color: green;
 	color: #fff;
 	border: 0;
 	border-radius: 4px;
 	padding: 5px;
 	margin-top: 10px;
 }

