// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
	background-color: #EEE;
}
.cart th, .cart td {
	padding: 10px;
}
.cart .cartItem .actions form, .cart .cartItem .actions form div, .cart .cartItem .actions form div input {
	display: inline;
}
.cart .cartFooter {
	text-align: right;
}
.cart .cartFooter .totalLabel {
	margin-right: 10px;
}
.actionControls input {
	float: left;
}