/* LISTA DE COMPRAS */
.orders .table_row_header .creation_date, .orders .table_row_item .creation_date {
	text-align: center;
}
.orders .table_row_header .status, .orders .table_row_item .status {
	text-align: center;
}


/* DETALHE DE COMPRAS */
.order .table_row_header .quantity, .order .table_row_item .quantity {
	text-align: center;
}
.order .price {
	text-align: right;
}
.order .table_row_header .sub_total, .order .table_row_item .sub_total {
	text-align: right;
}

.order .table_row_footer .right_table_column {
	text-align: right;
}
.order .total_value {
	margin-left: 0.5em;
	color: #cc9933;
}
.order tr.table_row_shipping_costs td {
	padding: 0.5em;
	font-size: 0.9em;
	min-height: 3em;
	border-bottom: 1px dotted #ccc;
}
.order tr.table_row_shipping_costs td.left_table_column {
	border-left: 1px dotted #ddd;
}
.order tr.table_row_shipping_costs td.right_table_column {
	border-right: 1px dotted #ddd;
}
.order .actions_wrapper {
	margin-top: 1em;
}