/* LISTA DE PRODUTOS */
.products ul {
	list-style: none;
}
.products ul li {
	margin-bottom: 1em;	
}
.products .price {
	font-size: 1.1em;
	color: #cc9933;
}
.products .actions_wrapper {
	margin-top: 1em;
}


/*DETALHE DE PRODUTOS */
.price_wrapper {
	border-top: 1px dotted #ddd;
	text-align: right;
	padding-top: 1em;
}
.product .price {
	font-size: 1.1em;
	color: #cc9933;
}
.product .actions_wrapper {
	margin-top: 1em;
}

.price_extra_info {
	font-size: 0.7em;
}