/* LISTA DE PRODUTOS */
.products {
	margin: 0 -14px;
	padding-top: 1em;
}
.products ul {
	list-style: none;
}
.products ul li {
	padding-bottom: 4em;	
}
.products h1 {
	font-size: 1.4em;
	border: 0;
	margin-bottom: 0.2em;
	padding: 0.5em 0.2em 0 0.2em;
	background-color: #fff;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}
.products .image img {
	border-top: 1px dotted #e5e5e5;
	border-bottom: 1px dotted #ddd;
}
.products .price_wrapper {
	border-top: 1px dotted #d5d5d5;
	text-align: right;
	padding-top: 1em;
}
.products .price {
	font-size: 1.1em;
	color: #cc9933;
}
.products .actions_wrapper {
	margin-top: 1em;
}

/* DESTAQUES*/
.products.highlights ul li {
	padding-bottom: 1em;	
}

/*DETALHE DE PRODUTOS */
.product .left_column_wrapper {
	display: inline-block;
	width:300px;
	vertical-align: top;
	margin-right: 14px;
}
.product .right_column_wrapper {
	display: inline-block;
	width:520px;
	vertical-align: top;
}
.product .image img {
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}
.product .price_wrapper {
	border-top: 1px dotted #ddd;
	text-align: right;
	padding-top: 1em;
	margin-top: 1em;
}
.product .price {
	font-size: 1.1em;
	color: #cc9933;
}
.product .actions_wrapper {
	margin-top: 1em;
}

.price_extra_info {
	font-size: 0.7em;
}
