/* LISTA DE PRODUTOS */
.products ul {
	list-style: none;
}
.products ul li {
	float: left;
	width: 390px;
	margin-bottom: 1em;
}
.products ul li:nth-child(2n) {
	float: right;
}
.products ul li:nth-child(2n+1) {
	clear: both;
}
.products .price {
	font-size: 1.2em;
	color: #cc9933;
}


/*DETALHE DE PRODUTOS */
.product .price {
	font-size: 1.2em;
	color: #cc9933;
}