<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body style="font-family: Arial, Verdana; color: #444; background-color: #eee; padding: 40px;">
    	<div style="background-color: #fff; padding: 0 20px 20px 20px; border: 1px solid #ccc;">
			<h2>
		      Damos por concluído o processo da sua encomenda com o código: <%= @order.reference %>.
		    </h2>      
	      	Agradecemos a sua preferência esperando contar consigo numa próxima oportunidade.
		</div>
	</body>
</html>