<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Confirmação do registo da encomenda.</h1>
    <p>
      Confirmamos a receção da sua encomenda com o código: <%= @order.reference %>.<br/>
    </p>
    <p>
      Tudo faremos para que a sua encomenda lhe seja entregue o mais rápido possível.<br/>
    </p>
  </body>
</html>