<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Pedido de alteração de password de acesso ao site www.douromemories.com</h1>
    <p>
      Para alterar a sua password de acesso ao site www.douromemories.com clique no seguinte link:<br/>
      <%= link_to "Alterar Password", "http://www.douromemories.com/edit_password?user=#{@user.remember_token}" %>
    </p>
    <p>
    	Este link irá encaminhá-lo para página em que poderá alterar a sua password.
    </p>
  </body>
</html>