<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bem vindo ao site www.douromemories.com, <%= @user.name %></h1>
    <p>
      Registou-se com sucesso no site www.douromemories.com,
      o seu username é: <%= @user.email %>.<br/>
    </p>    
    <p>Obrigado por se registar no nosso site!</p>
  </body>
</html>