<ul>
	<% @products.each do |p| %>
		<li>
			<h1><%= link_to p.name, p %></h1>
			<p><%= p.abstract %></p>
			<p><%= p.price %></p>
		</li>
	<% end %>
</ul>

<% content_for :sidebar do %>
	<%= render "shared/cart" unless current_cart.nil? %>
<% end %>
